<div class="about-main">
  <h2>Ball Roomとは</h2>
  <p>
    社交ダンスのパートナーや仲間、場所をシェアするサービスです。
    パートナー募集はもちろん、社交ダンスを始めてみたい人、仲間が欲しい人、場所をシェアしたい人など、ユーザーが楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/assets/images/salsa-dancing-3713268_1280.png">
</div>
