<div class="main top-main">
  <div class="top-message">
    <h2>Let's DANCE!</h2>
    <p>今すぐパートナー、先生をみつけよう！</p>
  </div>
  <%= image_tag('salsa-dancing-3713268_1280.png',:size => "400x600") %>
</div>
