<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
      <div class="form">
        <div class="form-body">
          <div class="form-error">
            <% @post.errors.full_messages.each do |message| %>
              <%= message %>
            <% end %>
          </div>
          <%= form_with model: @post, local: true do |form| %>
            <%= form.text_field :content %>
            <%= form.submit %>
          <% end %>
        </div>
      </div>
  </div>
</div>
